github_access_token
/00_YT_Complete-Beginner-Course/datasets/
/00_YT_Complete-Beginner-Course/datasets/*
/01_PyTorch_Official/00_Learn_the_Basics/model*
/01_PyTorch_Official/hymenoptera_data
/03_Pruning_Filters_for_Efficient_Convnets/cifar.torch
*.pth